<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.shop.category.CategoryMapper">
    <resultMap id="categoryResultMap" type="Category">
        <result column="ENUM_NAME" property="category" javaType="Category" typeHandler="EnumTypeHandler"/>
    </resultMap>
    <select id="findAll" resultMap="categoryResultMap">
        SELECT ID, NAME, ENUM_NAME
        FROM CATEGORY;
    </select>

    <insert id="update" parameterType="list">
        INSERT INTO CATEGORY (ID, NAME, ENUM_NAME) VALUES
        <foreach collection="list" item="category" index="index" separator="," open="" close="">
            (#{category.id}, #{category.name}, #{category.enumName})
        </foreach>
        ON DUPLICATE KEY UPDATE NAME = values(name), ENUM_NAME = values(ENUM_NAME)
    </insert>

</mapper>
