<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.shop.menu.MenuMapper">

    <resultMap id="menuResult" type="com.delivery.shop.menu.Menu">
        <result property="id" column="ID"/>
        <result property="menuGroupId" column="GROUP_ID"/>
        <result property="name" column="NAME"/>
        <result property="price" column="PRICE"/>
        <result property="composition" column="COMPOSITION"/>
        <result property="content" column="CONTENT"/>
        <result property="status" column="STATUS" javaType="com.delivery.shop.menu.Menu$MenuStatus"/>
        <result property="createdAt" column="CREATE_AT"/>
        <result property="modifiedAt" column="MODIFIED_AT"/>
    </resultMap>

    <insert id="saveMenu" parameterType="com.delivery.shop.menu.Menu">
        INSERT INTO MENU(GROUP_ID, NAME, PRICE, COMPOSITION, CONTENT, STATUS, CREATE_AT)
        VALUES (#{menuGroupId}, #{name}, #{price}, #{composition}, #{content}, #{status}, #{createdAt});
    </insert>

    <select id="menuNameCheck" resultType="integer" parameterType="string">
        SELECT COUNT(NAME) FROM MENU WHERE NAME = #{name};
    </select>

    <update id="menuStatusUpdate" parameterType="map">
        UPDATE MENU SET STATUS = #{status} WHERE ID = #{id};
    </update>
    
    <select id="findMenuById" resultMap="menuResult" parameterType="long">
        SELECT ID, NAME, PRICE, GROUP_ID, COMPOSITION, CONTENT, STATUS FROM MENU WHERE ID = #{id};
    </select>
</mapper>
