<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluedelivery.infra.shop.MenuMapper">

    <resultMap id="menuResult" type="com.bluedelivery.domain.menu.Menu">
        <result property="id" column="ID"/>
        <result property="menuGroupId" column="GROUP_ID"/>
        <result property="name" column="NAME"/>
        <result property="price" column="PRICE"/>
        <result property="composition" column="COMPOSITION"/>
        <result property="content" column="CONTENT"/>
        <result property="status" column="STATUS" javaType="com.bluedelivery.domain.menu.Menu$MenuStatus"/>
        <result property="isMain" column="IS_MAIN"/>
    </resultMap>

    <insert id="saveMenu" parameterType="com.bluedelivery.domain.menu.Menu">
        INSERT INTO MENU(GROUP_ID, NAME, PRICE, COMPOSITION, CONTENT, STATUS, IS_MAIN)
        VALUES (#{menuGroupId}, #{name}, #{price}, #{composition}, #{content}, #{status}, #{isMain});
    </insert>

    <select id="menuNameCheck" resultType="integer" parameterType="string">
        SELECT COUNT(NAME) FROM MENU WHERE NAME = #{name};
    </select>

    <update id="menuStatusUpdate" parameterType="map">
        UPDATE MENU SET STATUS = #{status} WHERE ID = #{id};
    </update>
    
    <select id="findMenuById" resultMap="menuResult" parameterType="long">
        SELECT ID, NAME, PRICE, GROUP_ID, COMPOSITION, CONTENT, STATUS, IS_MAIN FROM MENU WHERE ID = #{id};
    </select>

    <select id="findAllMenusByGroup" resultMap="menuResult">
        SELECT ID, NAME, PRICE, GROUP_ID, COMPOSITION, CONTENT, STATUS, IS_MAIN FROM MENU
        WHERE STATUS != 'HIDDEN';
    </select>

    <select id="findMainMenus" resultMap="menuResult">
        SELECT ID, NAME, PRICE, GROUP_ID, COMPOSITION, CONTENT, STATUS, IS_MAIN FROM MENU
        WHERE IS_MAIN = 1 AND STATUS != 'HIDDEN';
    </select>

    <update id="setMainMenu" parameterType="long">
        UPDATE MENU SET IS_MAIN = IF(IS_MAIN = true, false, true) WHERE ID = #{id};
    </update>

    <select id="countMainMenu" resultType="integer">
        SELECT COUNT(IS_MAIN) FROM MENU WHERE IS_MAIN = 1;
    </select>

</mapper>
