<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.shop.menugroup.MenuGroupMapper">

    <insert id="saveMenuGroup" parameterType="com.delivery.shop.menugroup.MenuGroupDto">
        INSERT INTO MENU_GROUP(SHOP_ID, NAME, CONTENT)
        VALUES (#{shopId}, #{name}, #{content})
    </insert>

    <select id="groupNameCheck" resultType="integer">
        SELECT COUNT(NAME)
        FROM MENU_GROUP
        WHERE NAME = #{name};
    </select>

</mapper>
