<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluedelivery.infra.shop.MenuGroupMapper">
    
    <resultMap id="menuGroupResult" type="com.bluedelivery.api.menu.RegisterMenuGroupDto">
        <result property="id" column="ID"></result>
        <result property="shopId" column="SHOP_ID"></result>
        <result property="name" column="NAME"></result>
        <result property="content" column="CONTENT"></result>
        <collection property="menus" column="ID" javaType="arraylist" ofType="com.bluedelivery.api.menu.RegisterMenuGroupDto" select="findMenuByGroupId"></collection>
    </resultMap>
    
    <resultMap id="menuResult" type="com.bluedelivery.api.menu.RegisterMenuDto">
        <result property="id" column="ID"></result>
        <result property="groupId" column="GROUP_ID"></result>
        <result property="name" column="NAME"></result>
        <result property="price" column="PRICE"></result>
    </resultMap>

    <select id="findMenuGroup" resultMap="menuGroupResult">
        SELECT * FROM MENU_GROUP WHERE SHOP_ID = #{shopId};
    </select>

    <select id="findMenuByGroupId" resultMap="menuResult">
        SELECT * FROM MENU WHERE GROUP_ID = #{groupId};
    </select>

    <update id="updateMenuGroup">
        UPDATE MENU_GROUP SET NAME = #{name}, CONTENT = #{content} WHERE ID = #{id};
    </update>

    <delete id="deleteMenuGroup">
        DELETE FROM MENU_GROUP WHERE ID = #{id};
    </delete>

</mapper>
