<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.shop.shop.ShopMapper">
    <resultMap id="shopResultMap" type="Shop">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="introduce" property="introduce" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="delivery_area_guide" property="deliveryAreaGuide" jdbcType="VARCHAR"/>
        <association property="businessHourPolicy" javaType="BusinessHourPolicy">
            <collection property="businessHours" ofType="BusinessHour" column="id" select="selectBusinessHours"
                        fetchType="lazy"/>
        </association>
    </resultMap>

    <select id="findShopById" resultMap="shopResultMap" parameterType="long">
        select ID,
               NAME,
               INTRODUCE,
               PHONE,
               DELIVERY_AREA_GUIDE
        FROM SHOP
        WHERE ID = #{id}
    </select>

    <select id="selectBusinessHours" resultType="BusinessHour">
        select SHOP_ID as shopId,
            OPEN,
            CLOSE,
            DAY_OF_WEEK as dayOfWeek
        from
            BUSINESS_HOUR
        where
            SHOP_ID = #{ID}
    </select>

    <update id="updateIntroduce" parameterType="map">
        UPDATE SHOP
        SET INTRODUCE = #{introduce}
        WHERE id = #{id}
    </update>

    <update id="updatePhone" parameterType="map">
        UPDATE SHOP
        SET PHONE = #{phone}
        WHERE id = #{id}
    </update>

    <update id="updateDeliveryAreaGuide" parameterType="map">
        UPDATE SHOP
        SET DELIVERY_AREA_GUIDE = #{guide}
        WHERE id = #{id}
    </update>

    <update id="updateName" parameterType="map">
        UPDATE SHOP
        SET NAME = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteCategory" parameterType="long">
        DELETE
        FROM CATEGORY_SHOP
        WHERE SHOP_ID = #{id}
    </delete>

    <update id="updateCategory" parameterType="map">
        INSERT INTO CATEGORY_SHOP (CATEGORY_ID, SHOP_ID) VALUES
        <foreach collection="categories" item="cat" separator=",">
            (#{cat.id}, #{id})
        </foreach>
    </update>

    <insert id="updateBusinessHours" parameterType="map">
        INSERT INTO BUSINESS_HOUR (SHOP_ID, OPEN, CLOSE, DAY_OF_WEEK)
        VALUES
        <foreach collection="businessHourPolicy.businessHours" item="hour" separator=",">
            (#{hour.shopId}, #{hour.open}, #{hour.close}, #{hour.dayOfWeek})
        </foreach>
        ON DUPLICATE KEY UPDATE OPEN = values(OPEN), CLOSE = values(CLOSE)
    </insert>
</mapper>
